<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>easybackup-web</display-name>
  <welcome-file-list>
    <welcome-file>/easybackup/dashboard.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>loadOnStartup</servlet-name>
    <jsp-file>/easybackup/loadOnStartup.jsp</jsp-file>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <listener>
  	<listener-class>cn.easyproject.easybackupweb.listener.EasyBackupLoadListener</listener-class>
  </listener>
</web-app>